.user_page {
  display: grid;
  gap: 20px;
  padding: 20px 30px 20px 0px;
  grid-template-columns:minmax(250px, 350px) minmax(350px, 800px);
  justify-content: center;
}

.user_card {
  background-color: rgba(21, 21, 46, 0.24);
  border-radius: 8px;
  padding: 20px 10px;
  height: min-content;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.user_card .box_img {
  display: flex;
  width: 200px;
  border-radius: 100%;
  border: #0f477585 7px solid;
}
.user_card .box_img img {
    border-radius: 100%;
    border: transparent 7px solid;
}


.user_card .card_header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: #afafaf;
}
.user_card .card_header > svg {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  fill: white;
}
.user_card .card_header .header_infos {
  padding-inline: 40px;
  color: white;
}
.user_card .card_header .header_infos h1 {
  line-height: 1;
}
.user_card .card_header .header_infos h2 {
  color: #afafaf;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.user_card .card_header .header_infos p {
  font-size: 15px;
}
.user_card .card_header .box_followers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.user_card .card_header .box_followers p {
  display: flex;
  align-items: center;
}
.user_card .card_header .box_followers strong {
  margin-inline: 3px;
}

.user_repos {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(21, 21, 46, 0.24);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  height: min-content;
}
::-webkit-scrollbar {
  display: none;
}

.user_repos h2 {
  width: min-content;
  font-size: 24px;
  border-bottom: #afafaf 3px solid;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.user_repos h2 svg {
  margin-bottom: -5px;
}
.user_repos .repos_header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.user_repos .repos_header form {
  width: 100%;
}
.user_repos .repos_header input {
  width: 100%;
  border: #afafaf solid 1px;
  border: none;
  background-color: rgba(21, 21, 46, 0.336);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  height: 45px;
  padding-left: 10px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
.user_repos .repos_header input:hover {
  border-color: #646cff;
}

.container_repos {
  padding-right: 10px;
  overflow-y: scroll;
}

.user_repos .card_repos {
  color: rgb(230, 230, 230);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: #afafaf4d solid 1px;
  border: none;
  background-color: #0f477544;
  backdrop-filter: blur(50px);
}
.user_repos .card_repos p {
  font-size: 20px;
}
.user_repos .card_repos small {
  color: rgb(187, 187, 187);
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.user_repos .card_repos_infos {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
}
.user_repos .card_repos_infos a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 830px) {
  .user_page {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 530px) {
  .user_page {
    padding: 20px;
    padding-left: 70px;
  }
  .user_card .box_img {
    width: 150px;
  }
}
@media screen and (max-width: 450px) {
  .user_card .card_header .header_infos {
    padding: 0;
  }
  .user_card .card_header .header_infos p, .user_card .card_header .box_followers {
    display: none;
  }
  .user_card .box_img {
    width: 120px;
  }
  .user_repos .repos_header {
    display: block;
  }
}
@media screen and (max-width: 404px) {
  .user_card .card_header {
    flex-direction: column;
  }
  .user_repos .card_repos p {
    font-size: 15px;
  }
}
@media screen and (max-width: 364px) {
  .user_card .card_header .header_infos {
    padding-inline: 5px;
  }
}