.user_page {
  display: grid;
  gap: 20px;
  padding: 20px 30px 20px 0px;
  grid-template-columns:minmax(250px, 350px) minmax(350px, 800px);
  justify-content: center;
}

.user_card {
  background-color: rgba(21, 21, 46, 0.24);
  border-radius: 8px;
  padding: 20px 10px;
  height: min-content;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.user_card .box_img {
  display: flex;
  width: 200px;
  border-radius: 100%;
  border: #0f477585 7px solid;
}
.user_card .box_img img {
    border-radius: 100%;
    border: transparent 7px solid;
}


.user_card .card_header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: #afafaf;
}
.user_card .card_header > svg {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  fill: white;
}
.user_card .card_header .header_infos {
  padding-inline: 40px;
  color: white;
}
.user_card .card_header .header_infos h1 {
  line-height: 1;
}
.user_card .card_header .header_infos h2 {
  color: #afafaf;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.user_card .card_header .header_infos p {
  font-size: 15px;
}
.user_card .card_header .box_followers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.user_card .card_header .box_followers p {
  display: flex;
  align-items: center;
}
.user_card .card_header .box_followers strong {
  margin-inline: 3px;
}

@media screen and (max-width: 830px) {
  .user_page {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 530px) {
  .user_page {
    padding: 20px;
    padding-left: 70px;
  }
  .user_card .box_img {
    width: 150px;
  }
}
@media screen and (max-width: 450px) {
  .user_card .card_header .header_infos {
    padding: 0;
  }
  .user_card .card_header .header_infos p, .user_card .card_header .box_followers {
    display: none;
  }
  .user_card .box_img {
    width: 120px;
  }
}
@media screen and (max-width: 404px) {
  .user_card .card_header {
    flex-direction: column;
  }
}
@media screen and (max-width: 364px) {
  .user_card .card_header .header_infos {
    padding-inline: 5px;
  }
}