.Libary {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 30px;
  transition: all 0.3s;
}
.Libary.active {
  grid-template-columns: 300px 1fr;
  transition: all 0.3s;
}

.menu_libary {
  position: relative;
  min-height: 100vh;
  background-color: rgba(21, 21, 46, 0.24);
  backdrop-filter: blur(50px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.menu_libary .container_btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 45px;
  right: -15%;
  top: 10px;
}
.menu_libary .container_btn .search_box {
  display: none;
  gap: 10px;
  padding-left: 10px;
  height: 100%;
  
  border: 1px solid transparent;
  backdrop-filter: blur(50px);

  border-radius: 10px;
  background-color: rgba(21, 21, 46, 0.877);
  transition: border-color 0.25s;
}
.menu_libary .container_btn .search_box:focus-within {
  outline: 4px auto -webkit-focus-ring-color;
}
.menu_libary .container_btn .search_box:hover {
  border-color: #646cff;
}
.menu_libary .container_btn .search_box input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 14px;
  padding-left: 5px;
  outline: none;
}

.menu_libary .container_btn button {
  background-color: rgba(21, 21, 46, 0.877);
  backdrop-filter: blur(50px);
  height: 100%;
}

.Libary.active .menu_libary .container_btn {
  right: -5%;
  width: 100%;
}
.Libary.active .menu_libary .container_btn .search_box {
  display: flex;
  align-items: center;
  animation: animate_searchBox ease-in-out 0.3s forwards;
}

.menu_libary .cards_fav_users {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  padding-top: 80px;
  pointer-events: none;
  overflow: hidden;
}
.menu_libary .cards_fav_users .card_fav_user {
  display: flex;
  align-items: center;
  gap: 5px;
  animation: animate_cardUsers .2s ease-in-out forwards;
}
.menu_libary .cards_fav_users .card_fav_user h2 {
  display: none;
  font-size: 18px;
}
.menu_libary .card_fav_user .box_img {
  display: flex;
  border-radius: 100%;
  border: #0f477585 4px solid;
  transition: all 0.3s;
}
.menu_libary .card_fav_user img {
  border-radius: 100%;
  border: rgba(255, 255, 255, 0) 4px solid;
  filter: grayscale(100%);
}

.Libary.active .menu_libary .cards_fav_users {
  padding: 20px;
  padding-top: 80px;
  cursor: pointer;
  pointer-events: all;
}
.Libary.active .menu_libary .cards_fav_users .card_fav_user {
  background-color: #0f477544;
  padding: 10px;
  border-radius: 8px;
  animation: animate_openCardUsers .2s ease-in-out forwards;
}
.Libary.active .menu_libary .cards_fav_users .card_fav_user h2 {
  display: block;
}
.Libary.active .menu_libary .card_fav_user .box_img {
  width: 70px;
}
.Libary.active .card_fav_user img {
  filter: grayscale(0%);
}

@media screen and (max-width: 1000px) {
  .Libary.active .user_page {
    grid-template-columns: auto;
  }
  .Libary.active .user_card .card_header {
    flex-direction: column;
  }
  .Libary.active .user_card .card_header .box_followers {
    display: flex;
  }
  .Libary.active .user_card .box_img {
    width: 200px;
  }
}
@media screen and (max-width: 650px) {
  .Libary {
    grid-template-columns: 70px 1fr;
  }
  .Libary.active {
    grid-template-columns: 200px 1fr;
  }
  .Libary.active .menu_libary .cards_fav_users .card_fav_user {
    flex-direction: column;
  }
  .menu_libary .container_btn {
    gap: 4px;
  }
  .menu_libary .container_btn .search_box {
    gap: 5px;
    padding-left: 5px;
  }
  .menu_libary .container_btn .search_box input {
    padding: 0;
  }

}
@media screen and (max-width: 530px) {
  .Libary {
    display: block;
    grid-template-columns: 70px 1fr;
  }
  .Libary.active {
    display: block;
    grid-template-columns: 200px 1fr;
  }
  .menu_libary {
    position: fixed;
    width: 50px;
    z-index: 1;
    transition: all 0.3s;
  }
  .menu_libary button {
    padding: 3px;
    width: 45px;
    height: 35px;
  }
  .menu_libary .card_fav_user .box_img {
    border: #0f477585 2px solid;
  }
  .menu_libary .card_fav_user img {
    border: 0px;
  }
  .Libary.active .user_card .card_header .header_infos {
    padding-inline: 40px;
  }
  .Libary.active .menu_libary {
    width: 60%;
  }
  .Libary.active .user_card .box_img {
    width: 150px;
  }
  .Libary.active .user_page {
    padding: 20px;
    padding-left: 70px;
  }
  .Libary.active .menu_libary .cards_fav_users .card_fav_user {
    flex-direction: row;
  }
  .Libary.active .menu_libary .cards_fav_users .card_fav_user h2 {
    font-size: 18px;
  }
  .menu_libary .container_btn {
    gap: 10px;
  }
  .menu_libary .container_btn .search_box {
    gap: 10px;
    padding-left: 10px;
  }
  .menu_libary .container_btn .search_box input {
    padding-left: 5px;
  }
}
@media screen and (max-width: 450px) {
  .Libary.active .user_card .card_header {
    flex-direction: row-reverse;
  }
  .Libary.active .user_card .card_header .header_infos {
    padding: 0;
  }
  .Libary.active .user_card .card_header .header_infos p,
  .Libary.active .user_card .card_header .box_followers {
    display: none;
  }
  .Libary.active .menu_libary {
    width: 80%;
  }
  .Libary.active .user_card .box_img {
    width: 120px;
  }
}
@media screen and (max-width: 404px) {
  .Libary.active .user_card .card_header {
    flex-direction: column;
  }
  .Libary.active .menu_libary .cards_fav_users .card_fav_user {
    flex-wrap: wrap;
  }
  .Libary.active .menu_libary .card_fav_user .box_img {
    flex-shrink: 0;
  }
}

@keyframes animate_searchBox {
  0% {
    width: 0%;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}
@keyframes animate_cardUsers {
  0% {
    opacity: 0;
    transform: translateX(10px);
    width: 60px;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    width: 100%;
  }
}