.user_card {

}
.user_card img {
  width: 200px;
  border-radius: 100%;
  border: #fff 3px solid;
}
.card_header {
  display: flex;
}
.card_repos {
  background-color: rgb(36, 36, 36);
  color: rgb(230, 230, 230);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.card_repos p {
  font-size: 20px;
}
.card_repos small {
  color: rgb(187, 187, 187);
}
.card_repos_infos {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
}